* {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 10px 25px;
    background-color: #4E47FF;
    color: white;
    border: solid;
    border-radius: 10px;
    font-weight: bold;
}
section{
    margin: 0 60px;
}

/* Banner Section Start  */
header {
    background-image: url(Assets/Hero-bg.png);
    height: 500px;
}

#banner {
    margin: 0 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

nav div h2 {
    font-family: "Inter", sans-serif;
    font-size: 35px;
    font-weight: bolder;
    color: #4E47FF;
}

#bannerphth {
    margin-top: 130px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#bannerphth p {
    margin-bottom: 20px;
}

/* Banner Section End */

/* Article Section Add  */
article{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    height: 328px;
    align-items: center;
    font-size: 25px;
}
#article-text p{
font-size: 22px;
}

#article-text, img{
  border-radius: 30px;
}
/* Article Section End  */
