* {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 10px 25px;
    background-color: #4E47FF;
    color: white;
    border: solid;
    border-radius: 10px;
    font-weight: bold;
}

section {
    margin: 0 60px;
}

/* Banner Section Start  */
header {
    background-image: url(Assets/Hero-bg.png);
    height: 500px;
}

#banner {
    margin: 0 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

#banner nav div,
h2 {
    font-family: "Inter", sans-serif;
    font-size: 35px;
    font-weight: bolder;
    color: #4E47FF;
}

#bannerphth {
    margin-top: 130px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#bannerphth p {
    margin-bottom: 20px;
}

/* Banner Section End */

/* Article Section Add  */
#fist-article {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    height: 328px;
    align-items: center;
    font-size: 25px;
}

#article-text p {
    font-size: 22px;
}

#article-text,
img {
    border-radius: 30px;
}

/* Article Section End  */

/* Contain Over vew Start  */
#overvew {
    margin-top: 80px;
    text-align: center;
    font-size: xx-large;
    padding: 50px;
    background-color: rgb(78, 71, 255, 0.1);
    border-radius: 24px;
}

#vew-contain {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#vew-contain div,
h1,
p {
    font-family: "Inter", sans-serif;
}

.vew-h1 {
    font-size: 60px;
    color: #4E47FF;
}

.vew-p {
    font-size: small;
}

/* Contain Over vew End  */

/* Review Section Start  */
#review h2{
    margin-top: 80px;
    text-align: center;
    color: black;
    font-size: 40px;
}

.review-card{
    width: 366px;
    height: 243px;
    background-color:aquamarine;
}
/* Review Section End  */